.head {
  display: flex;
  width: 50vw;
  height: 10vh;
  color: #333333;
  

  position: absolute;
  left: 16.2%;
  top:28%;
  

}

.full{

position: absolute;
top:18%;
left: 16%;
width: 100vh;
resize: both;

}

.deux{
  position: absolute;
  top: 103%;
  left: 55%;
}

h1{
  font-family: 'Bebas Neue', cursive;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 8px;
    
  }







  
  
  
  .letterwrapper {
    display: flex;
    font-family: 'Bebas Neue', cursive;
  }

  .container {

    position: absolute;
    top: 40%;
    left: -1.5%;
    
    color:rgb(0, 0, 0);
    
    font-family: 'Bebas Neue', cursive;
    font-size:4.7vw;
    font-weight:bold;
  
    letter-spacing: 8px; 
    
    width:100vh;
   
    display:block;
    
  }
  
  .pp {
    font-size: 6.7vmin;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
  }

  p {
    
    width:100%;
    font-weight: 400;
    font-size:12px;
    color:rgb(0, 0, 0);
    
  }

  .Descrp {
    position: absolute;
  top: 114%;
  left: 55%;
    width: 30%;
    font-size: 2.5vmin;
    font-family: 'Open Sans';
    line-height: 38px;
    
  }


  .descTech{

    position: absolute;
    top: 213%;
    left: 65%;
    width: 30%;
   
    line-height: 38px;
      font-size: 2.5vmin;
      font-family: 'Open Sans';

  }


  .Mtitle {
    position: absolute;
    top: 202%;
  left: 65%;
    
   
    font-size: 67px;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    
  }





 
  
  body { background: #222; -webkit-backface-visibility: hidden; }
  .textTop,
  .textBottom {
    transition-property: top, bottom, opacity;
    transition-duration: 500ms, 500ms, 1s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 500ms, 500ms, 500ms; 
  }
  
  .selectableText { opacity: 1; font-family: 'Bebas Neue', cursive; color: rgb(0, 0, 0); text-transform: uppercase; transition-delay: 1s; transition-duration: 0;  }
  
  .underText { transition: all 1.7s ease-in-out; }
  
  .splitContainer { position: relative; margin: 5% auto 0 auto; font-size: 4em; text-align: center; height: 1em; }
  
  .splitContainer:hover .textTop { opacity: 1; bottom: 1em; transition-duration: 500ms, 500ms, 0; transition-delay: 0, 0, 0; }
  .splitContainer:hover .textBottom { opacity: 1; top: 1em; transition-duration: 500ms, 500ms, 0; transition-delay: 0, 0, 0; }
  .splitContainer:hover .underText { opacity: 1; transition-delay: .5s }
  .splitContainer:hover .selectableText { opacity: 0; transition-delay: 0; transition-duration: 0; }
  
  
  .splitText { position: absolute; left: 0; right: 0; font-family: 'Bebas Neue', cursive; color: rgb(0, 0, 0); z-index: 2;}
  .textTop { opacity:0; height: 50%; overflow: hidden; -background: #f06d06; bottom: .5em; }
  .textTop span { height: 200%; text-transform: uppercase; }
  
  .textBottom { top: .5em; opacity:0; height: 50%; overflow: hidden; -background: #bada55; }
  .textBottom span { position: relative; bottom: .5em; height: 200%; text-transform: uppercase; }
  
  .underText {opacity: 0; position: absolute; top: 15%; right:0; left: 0; height: 1em; font-family: 'Bebas Neue', cursive; font-size: .75em; line-height:1em; color: rgb(0, 0, 0); text-transform: uppercase; }




  
  
  










  #container {
    z-index: 99999999999999999999999999999999999999999999;
    color:rgb(0, 0, 0);
    
    font-family: 'Bebas Neue', cursive;
    font-size:3.9vw;
    font-weight:bold;
    padding-top:280px; 
    letter-spacing: 8px; 
    
    width:100vh;
   
    display:block;
  }
  
  #flip {
    height:105px;
    overflow:hidden;
    width: 100%;
  }
  
  #flip > div > div {
    color:#fff;
    padding:4px 12px;
    height:100px;
    
    
    display:inline-block;
  }
  
  #flip div:first-child {
    animation: show 5s linear infinite;
  }
  
  #flip div div {
    background:#42c58a;
    opacity: 70%;
  }
  #flip div:first-child div {
    background:#4ec7f3;
  }
  #flip div:last-child div {
    background:#420472;
  }
  
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-212px;}
    33% {margin-top:-212px;}
    38% {margin-top:-99px;}
    66% {margin-top:-99px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }
  
 
  

  /*////////////////////////////////////////MEDIA/////////////////////////////////////////////////////////////////*/


  @media (max-width: 450px){

    .head {
      display: flex;
      width: 40vw;
      height: 50vh;
      color: #333333;
      
      
      position: absolute;
      left: 21.2%;
      top:20%;
      
    
    }

    .Descrp{

      position: absolute;
      z-index: 999;
  top: 110%;
  left: 25%;
    width: 60%;
    font-size: 18px;
    font-family: 'Open Sans';
    line-height: 18px;

    }

    .deux{
      position: absolute;
      top: 100%;
      left: 25%;
    }
    

    .Mtitle {
      position: absolute;
      top: 165%;
    left: 25%;
    z-index: 999;
      
     
      font-size: 27px;
      font-family: 'Bebas Neue', cursive;
      font-weight: bold;
      
    }

    .descTech{
z-index: 999;
      position: absolute;
      top: 175%;
      left: 25%;
      width: 60%;
     
      line-height: 18px;
        font-size: 18px;
        font-family: 'Open Sans';
  
    }

    .full{

      position: absolute;
      top:18%;
      left: 25%;
      width: 100vh;
      resize: both;
      
      }

      .container {

        position: absolute;
        top: 40%;
        left: -1.5%;
        
        color:rgb(0, 0, 0);
        
        font-family: 'Bebas Neue', cursive;
        font-size:11.7vw;
        font-weight:bold;
      
        letter-spacing: 8px; 
        
        width:100vh;
       
        display:block;
        
      }

      #flip {
        height:55px;
        overflow:hidden;
        width: 100%;
      }

      #flip > div > div {
        color:#fff;
        padding:4px 12px;
        height:109.5px;
        
        
        display:inline-block;
      }

      #container {
        color:rgb(0, 0, 0);
        
        font-family: 'Bebas Neue', cursive;
        font-size:6.9vw;
        font-weight:bold;
        padding-top:220px; 
        letter-spacing: 6px; 
        
        width:100vh;
       
        display:block;
      }
  }

  
