

  <div class="head" id="home">
    <div class="letterwrapper">
      <h1 id="letter" class="letter">O</h1>
      <h1 id="letter" class="letter">U</h1>
      <h1 id="letter" class="letter">S</h1>
      <h1 id="letter" class="letter">S</h1>
      <h1 id="letter" class="letter">A</h1>
      
      <h1 id="letter" class="letter">M</h1>
      <h1 id="letter" class="letter">A</h1>

      <h1 id="letter" style="opacity: 1%;">A</h1>

      <h1 id="letter" class="letter">I</h1>
      <h1 id="letter" class="letter">S</h1>
      <h1 id="letter" class="letter">S</h1>
      <h1 id="letter" class="letter">A</h1>
      <h1 id="letter" class="letter">O</h1>
      <h1 id="letter" class="letter">U</h1>
      <h1 id="letter" class="letter">I</h1>
    </div>
    



    </div>
   

<div class="deux">
  <p class="pp"></p>

  
</div>
<div class="Descrp">  Passionate to provide you with innovative, responsive, highly functional, visually appealing and feature-rich website designs. My style is rather graphical and minimalistic with a strong focus on 3D animations.
  <br> <br> At the heart of my approach is the constant search for the juncture between aesthetic beauty and technical performance.</div>


 

  <div id="stack"class="Mtitle">
    full stack and more
  </div>
  
  <div class="descTech"> I create successful responsive websites that are fast, easy to use, and built with best practices. The main area of my expertise is front-end development, HTML, CSS and JS frameworks, building small and medium web apps, features, animations, and coding interactive layouts.

   <br><br> I also have full-stack developer experience from back end coding tasks using frameworks such as spring boot or node Js to front end design. </div>





<!--

<div class="full">

<div class="splitContainer">
<div class="selectableText">
  Oussama
</div>
<div class="splitText textTop">
  <span>
Oussama  </span>
</div>
<div class="splitText textBottom">
  <span>
    Oussama
  </span>
</div>
<div class="underText">
  Issaoui
</div>

</div>
-->


<div class="full">

  <div class="container"> BLUE SHIP</div>

<div id=container>
  
  <div id=flip>
    <div><div>+ Animator</div></div>
    <div><div>+ Content creator</div></div>
    <div><div>+ Web Developer</div></div>
  </div>
 
</div>
</div>  