<div class="container">
    <div id="home1" class="link" (click)="scroll(['home'])">
        <div class="text">Home</div>
    </div>
    <div class="link" (click)="scroll(['target1'])">
        <div class="text">Projects</div>
    </div>
    <div class="link" (click)="scroll(['stack'])" >
        <div class="text">About</div>
    </div>
    <div class="link" (click)="scroll(['me'])" >
        <div class="text">Contact</div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
   
    <div onclick="window.open('https://www.facebook.com/oussama.issaoui.7/','mywindow');" class="linkSocialIcon">

        
        <span href="" class="text fab fa-facebook-f icon"><a></a></span>
        
      </div>




      <div onclick="window.open('https://www.linkedin.com/in/oussama-issaoui-24a53a20b/');" class="linkSocialIcon" style="margin-top: -5%;">
        <span class="fab fa-linkedin-in icon"></span>
        
      </div>



      <div onclick="window.open('https://github.com/oussamaissaoui');" class="linkSocialIcon" style="margin-top: -5%;">
        <span class="fab fa-github"></span>
        
      </div>
  
      
      
</div>


