<div id="target1" class="Mtitle">
    PROJECTS
  </div>

<ul>
    <li>DARI.TN</li>
    <span style="position: relative; top: -12%; left: 1%;font-family: 'Open Sans';">
        [ 2020 ]  [ FullStack ]  [ Web ]  [ MarketPlace ]  </span>
    <li>OPEN DASHBOARD</li>
    <span style="position: relative; top: -12%; left: 1%;font-family: 'Open Sans';">
        [ 2021 ]  [ API ]  [ Configurable ]  [ Vermeg ]  </span>
    <li>STARRYONE.CA</li>
    <span style="position: relative; top: -12%; left: 1%;font-family: 'Open Sans';">
        [ 2019 ]  [ Security ]  [ Web ]  [ Branding ]  </span>
    
 
</ul>

<canvas id="canvas1" class="canvasClass"></canvas>


